* {
    padding: 0;
    margin: 0;
}

body, html {
    font-size: 100%;
    height: 100%;
    width: 100%;
}

input[type="text"], input[type="password"], input[type="submit"], input[type="button"]{
    padding: 5px;
    font-size: 14px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 5px;
}

input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
}

/* --- GENERIC ---*/
#app {
    font-family: 'Open Sans' , sans-serif;
    font-size: 16px;
    color: #fff;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    position: relative;
}

select, option, input {
    font-family: 'Open Sans',sans-serif;
}

.app-menu, .app-page {
    height: 100%;
    position: relative;
}


.title {
    font-size: 24px;
    font-weight: normal;
}

h2.title {
    font-size: 22px;
}

.default-background-light {
    background-color: #1F497D;
}
.default-background-dark {
    background-color: #153153
}

.app-page {
    margin-left: 250px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.wide {
    height: 100%;
    width: 100%;
    position: relative;
}

/* --- MENU --- */
.app-menu {
    background-color: #383838;
    float: left;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
.app-menu .title {
    color: #F8A25B;
    width: 100%;
    padding: 5px;
}
.app-menu .profile-selector {

}
.app-menu .profile-selector select{
    background: #383838;
    border: none;
}
.app-menu .profile-selector option {
}
.app-menu a.menu-item {
    border-top: 1px solid #313131;
    color: #FFFFFF;
    display: block;
    padding: 14px;
    text-decoration: none;
}
.app-menu a.last {
    border-bottom: 1px solid #313131;
}
.app-menu p {
    margin: 14px 0 0 14px;
}

/* --- LOGIN --- */
.login-form {
    height: 100%;
    padding: 20px;
}

/* --- MISC --- */
.stretch-background{
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}